.panel-body {
  background: lightblue;
  align-content: center;
  padding-left: 0px;
}
.panel-default {
  align-content: center;
}
body {
  font-size: medium;
  line-height: normal;
}
.panel-header {
  color: black;
}
.panel-title {
  color: black;
  text-align: center;
  font-size: medium;
}
